.yaats-icon-24 {
  width: 24px !important;
  height: 24px;
}
.yaats-icon-48 {
  width: 48px;
  height: 48px;
}
.yaats-kosten {
  background-color: #7986CB;
  color: #FAFAFA;
  padding: 21px;
  text-align: center;
}
.yaats-kosten-accent {
  background-color: #F06292;
  color: #FAFAFA;
  padding: 21px;
  text-align: center;
}
