<div>
  <h2>Bereken voorrijkosten</h2>
  <md-input-container>
    <label>Aantal kilometers (enkele reis)</label>
    <input type="number" min="0" ng-model="$ctrl.afstandInKm" ng-change="$ctrl.voorrijkostenCalculator($ctrl.afstandInKm)">
  </md-input-container>
  € {{$ctrl.voorrijkosten}}
</div>
