<!DOCTYPE html>
<html lang="nl" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <!-- <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css"> -->
  <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Yaats voor zzp'ers en particulieren</title>
</head>

<body ng-app="app" ng-cloak ng-controller="MainCtrl as $ctrl">

  <div layout="column" layout-fill>

    <md-toolbar layout="row" layout-align-gt-xs="center">
      <div class="md-toolbar-tools" flex-gt-xs="80">

        <h1>Yaats</h1>

        <span flex></span>

        <md-button class="md-raised md-warn" href="http://www.splashtop.com/">
          Hulp op Afstand
        </md-button>

      </div>
    </md-toolbar>

    <md-content>
      <div>
        <div layout="row" layout-align-gt-xs="center">
          <div flex-gt-xs="80">


            <div layout="row" layout-align="center">
              <h2 class="md-display-2">Details en kosten</h2>
            </div>

            <div layout="column" layout-gt-sm="row" layout-align-gt-sm="center">
              <a name="kosten"></a>
              <div md-whiteframe="6" layout-margin layout="column" layout-align="space-between">
                <div>
                  <h2 class="md-display-1">Onderhoud en advies</h2>
                  <div class="yaats-kosten">
                    <h3 class="md-headline">€60 per bezoek *</h3>
                  </div>
                  <div ng-repeat="onderdeel in $ctrl.diensten.onderhoud.onderdelen" layout="row" layout-align="start center" layout-padding>
                    <div>
                      <svg style="width:24px;height:24px" viewbox="0 0 24 24">
                        <path fill="rgba(0,0,0,0.54)" d="M19,19H5V5H15V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V11H19M7.91,10.08L6.5,11.5L11,16L21,6L19.59,4.58L11,13.17L7.91,10.08Z" />
                      </svg>
                    </div>
                    <div>
                      {{onderdeel}}
                    </div>
                  </div>
                </div>
                <div>
                  <div class="md-caption" layout-padding>
                    * {{$ctrl.diensten.voetnoot}}
                  </div>
                  <div layout="column" layout-align="stretch">
                    <md-button class="md-raised md-primary">
                      Bestel
                    </md-button>
                  </div>
                </div>
              </div>
              <div md-whiteframe="6" layout-margin layout="column" layout-align="space-between">
                <div>

                  <h2 class="md-display-1">Hulp op afstand</h2>
                  <div class="yaats-kosten-accent">
                    <h3 class="md-headline">€60 per jaar *</h3>
                  </div>
                  <div ng-repeat="onderdeel in $ctrl.diensten.hulpOpAfstand.onderdelen" layout="row" layout-align="start center" layout-padding>
                    <div>
                      <svg style="width:24px;height:24px" viewbox="0 0 24 24">
                        <path fill="rgba(0,0,0,0.54)" d="M19,19H5V5H15V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V11H19M7.91,10.08L6.5,11.5L11,16L21,6L19.59,4.58L11,13.17L7.91,10.08Z" />
                      </svg>
                    </div>
                    <div>
                      {{onderdeel}}
                    </div>
                  </div>

                </div>
                <div>
                  <div class="md-caption" layout-padding>
                    {{$ctrl.diensten.voetnoot}}
                  </div>
                  <div layout="column" layout-align="stretch">
                    <md-button class="md-raised md-accent">
                      Bestel
                    </md-button>
                  </div>
                </div>
              </div>

              <div md-whiteframe="6" layout-margin layout="column" layout-align="space-between">
                <div>
                  <h2 class="md-display-1">Back-up</h2>
                  <div class="yaats-kosten">
                    <h3 class="md-headline">€200 per jaar *</h3>
                  </div>

                  <div ng-repeat="onderdeel in $ctrl.diensten.backup.onderdelen" layout="row" layout-align="start center" layout-padding>
                    <div>
                      <svg style="width:24px;height:24px" viewbox="0 0 24 24">
                        <path fill="rgba(0,0,0,0.54)" d="M19,19H5V5H15V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V11H19M7.91,10.08L6.5,11.5L11,16L21,6L19.59,4.58L11,13.17L7.91,10.08Z" />
                      </svg>
                    </div>
                    <div>
                      {{onderdeel}}
                    </div>
                  </div>


                </div>
                <div>
                  <div class="md-caption" layout-padding>
                    {{$ctrl.diensten.voetnoot}}
                  </div>
                  <div layout="column" layout-align="stretch">
                    <md-button class="md-raised md-primary">
                      Bestel
                    </md-button>
                  </div>
                </div>
              </div>
            </div>
            <div md-whiteframe="6" layout-margin layout="column" layout-align="space-between">
              <div>
                <div>
                  <div layout="column" layout-gt-sm="row" layout-align-gt-sm="space-between center">
                    <div>
                      <h2 class="md-display-1">Combinatiekorting</h2>
                      <h3 class="md-headline">Hulp op afstand &amp; Back-up</h3>
                    </div>

                    <div>
                      <div class="yaats-kosten">
                        <h3 class="md-headline">€230 per jaar*</h3>
                      </div>
                      <div class="md-caption">
                        * {{$ctrl.diensten.voetnoot}}
                      </div>
                    </div>

                  </div>
                </div>
                <div>
                  <div layout="column" layout-align="stretch">
                    <md-button class="md-raised md-primary">
                      Bestel
                    </md-button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>



        <!-- FOOTER -->
        <div layout-padding style="background: #C5CAE9;">
          <div layout="row" layout-align-gt-xs="center">
            <div flex-gt-xs="80" layout-gt-xs="row" layout-align="start end">
              <div layout="column" flex>
                <span class="md-title">Yaats</span>
                <span>Deltastraat 2</span>
                <span>4322 BN Scharendijke</span>
                <span>06&#8209;51008209</span>
              </div>
              <div flex><span>info@yaats-advies.nl</span></div>
              <div>
                <span>KvK&#8209;nummer: 61231959</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </md-content>
  </div>

  <!-- Angular Material requires Angular.js Libraries -->

  <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script> -->
  <script src="/node_modules/angular/angular.js" charset="utf-8"></script>

  <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script> -->
  <script src="/node_modules/angular-animate/angular-animate.js" charset="utf-8"></script>

  <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script> -->
  <script src="/node_modules/angular-aria/angular-aria.js" charset="utf-8"></script>

  <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script> -->
  <script src="/node_modules/angular-messages/angular-messages.js" charset="utf-8"></script>

  <!-- Angular Material Library -->
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script> -->
  <script src="/node_modules/angular-material/angular-material.js" charset="utf-8"></script>
  <!-- Your application bootstrap  -->

  <script src="/app.js" charset="utf-8"></script>


</body>
</html>
